<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg" style="width: 22rem;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form id="loginForm">
            <div class="mb-3">
                <label for="userName" class="form-label">Correo</label>
                <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Correo" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraña</label>
                <input type="text" class="form-control" id="userPassword" formControlName="userPassword" placeholder="Contraseña" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
            <a routerLink='/registro'>Registrarse</a>
        </form>
    </div>
</div>