<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg" style="width: 22rem;">
        <h4 class="text-center mb-2"> Datos Empleado</h4>
        <form [formGroup]="registerForm">
            <div class="mb-3">
                <label for="text" class="form-label">Descripcion profesional</label>
                <input type="text" class="form-control" id="descripcionProfesional" formControlName="descripcionProfesional" placeholder="Descripcion Profesional">
                @if (descripcionProfesional.invalid && descripcionProfesional.touched) {
                    <p class="form-error">La descripcion profesional es requerida</p>
                }
            </div>
            <div class="d-grid gap-2">
                <button [disabled]="registerForm.invalid" class="btn btn-primary" (click)="registerUser()" >Guardar Datos</button>
            </div>
        </form>
    </div>
</div>