<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg" style="width: 22rem;">
        <h4 class="text-center mb-2"> Registro Usuario Cliente</h4>
        <form [formGroup]="registerForm">
            <div class="mb-3">
                <label for="text" class="form-label">DPI</label>
                <input type="text" class="form-control" id="userDpi" formControlName="userDpi" placeholder="DPI">
                @if (dpi.invalid && dpi.touched) {
                    <p class="form-error">El DPI es requerido</p>
                }
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="userPhoneNumber" formControlName="userPhoneNumber" placeholder="Telefono">
                @if (phoneNumber.invalid && phoneNumber.touched) {
                    <p class="form-error">Contraseña es requerida</p>
                }
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="userAddress" formControlName="userAddress" placeholder="Direccion">
                @if (address.invalid && address.touched) {
                    <p class="form-error">Direccion es requerida</p>
                }
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Hobbies</label>
                <input type="text" class="form-control" id="hobbies" formControlName="hobbies" placeholder="Hobbies">
                @if (hobbies.invalid && hobbies.touched) {
                    <p class="form-error">Los hobbies son requeridos</p>
                }
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Descripcion">
                @if (descripcion.invalid && descripcion.touched) {
                    <p class="form-error">La descripcion es requerida</p>
                }
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Gustos</label>
                <input type="text" class="form-control" id="gustos" formControlName="gustos" placeholder="Gustos">
                @if (gustos.invalid && gustos.touched) {
                    <p class="form-error">La descripcion es requerida</p>
                }
            </div>
                <!-- <input type="file" (change)="onFileSelected($event)"> -->
            <!-- <div class="mb-3">
                <label for="text" class="form-label">Seleccionar foto</label>
                <input type="file">
            </div> -->
            <div class="d-grid gap-2">
                <button [disabled]="registerForm.invalid" class="btn btn-primary" (click)="registerUser()" >Guardar Datos</button>
            </div>
        </form>
    </div>
</div>