<!-- establecer titulo en el centro -->
<h1 class="text-center">Reportes</h1>
<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-danger">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por intervalo de tiempo</button>
                    </div>
                    Servicios más reservados
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-danger">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por intervalo de tiempo</button>
                    </div>
                    Servicios menos reservados
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-danger">Exportar PDF</button>
                    </div>
                    Servicio que genera más ingresos
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>