<!-- establecer titulo en el centro -->
<h1 class="text-center">Reportes</h1>
<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-danger">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por intervalo de tiempo</button>
                    </div>
                    Servicios más reservados
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-danger">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por intervalo de tiempo</button>
                    </div>
                    Servicios menos reservados
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    Servicio que genera más ingresos
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Servicio</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (servicioConMasIngresos of servicioQueGeneraMasIngresos; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{servicioConMasIngresos.nombreServicio}}</td>
                            <td>{{servicioConMasIngresos.descripcion}}</td>
                            <td>{{servicioConMasIngresos.precio}}</td>
                            <td>{{servicioConMasIngresos.tiempoServicio}}</td>
                            <td class="space-x-2">
                                <button class="btn btn-sm btn-danger">Exportar PDF</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>