<!-- establecer titulo en el centro -->
<h1 class="text-center">Reportes</h1>
<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por Servicio</button>
                    </div>
                    Ganancias por Servicios
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    Anuncios más mostrados
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    Clientes con más citas reservadas
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    Clientes con menos citas reservadas
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    Clientes en lista negra
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por Cliente</button>
                    </div>
                    Clientes que han gastado más
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por Cliente</button>
                    </div>
                    Clientes que han gastado menos
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por Empleado</button>
                    </div>
                    Ganancias por empleado
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary">Exportar PDF</button>
                    </div>
                    <div class="contenedor">
                        <button class="btn btn-sm btn-primary mt-1">Filtrar por Empleado</button>
                    </div>
                    Clientes con más citas atendidas
                </h2>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>