<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>Usuarios de marketing</h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (userMarketing of usersMarketing; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{userMarketing.email}}</td>
                            <td class="space-x-2">
                                <button class="btn btn-sm btn-info">Editar</button>
                                @if (userMarketing.state === 'DISABLED') {
                                <button class="btn btn-sm btn-secondary">Activar</button>
                                }@else {
                                <button class="btn btn-sm btn-warning">Desactivar</button>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Gestor de Servicios</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Empleados</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Clientes</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
    </div>
</div>