<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>Usuarios de marketing</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>John</td>
                            <td>Doe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Gestor de Servicios</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Empleados</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Clientes</h2>
            </div>
            <div class="card-body">
                <p>Mostrar tabla de clientes</p>
            </div>
        </div>
    </div>
</div>